{% extends 'base.html' %}

{% block content %}

<!-- <h1>Hello, world!</h1>
<h2>Testing the new line</h2>
<h3>yo</h3>

# allows access to a variable
<-- {{peeps}}  -->
<!-- allows you to evaluate an expression -->
    <!-- {% for p in peeps %}
        {% if p == 'John' %}
        <div class="card text-center">
            <div class="card-header">
                <a href="#" class="btn btn-primary"><b>{{p}}</b></a>
            </div>
        </div>
            </div>
        </div>
        {% else %}
        <div class="card text-center">
            <div class="card-header">
                <a href="#" class="btn btn-primary">{{p}}</a>
            </div>
        </div>
        {% endif %}
        
    {% endfor %} -->
    {% if posts %}
        {% for p in posts %}
        <div class="d-flex flex-column align-items-center">
                <a class="card mb-3 ms-3 pt-1 no-underline" style="width: 18rem;" href="{{ url_for('ig.single_post_page', post_id=p.id)}}">  
                    <!-- need to understand how the href above works! -->
                    <img src='{{ p["img_url"] }}' class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <h4 class="card-title ps-3 underline">{{ p.title }}</h4>
                            <h5 class="card-text ps-3">{{ p.author.username.title() }}</h5>
                        {% if p.caption %}
                            <h6 class="card-text ps-3">"{{p.caption}}"</h6>
                        {% endif %}
                            <div class="card-footer text-muted p-1">{{ moment(p.date_created).fromNow() }}</div>
                        <!-- You can use bracket OR dot notation!! -->
                    </div>
                </a>
            </div>
                {% if current_user in p.likers2 %}
                <a href="{{ url_for('ig.unlike_post2', post_id=p.id)}}" class="d-flex flex-column align-items-center my-heart no-underline ps-3 pb-3" style><i class="fa-solid fa-heart"></i></a>
                {% else %}
                <a href="{{ url_for('ig.like_post2', post_id=p.id)}}" class="d-flex flex-column align-items-center my-heart no-underline ps-3 pb-3"><i class="fa-regular fa-heart"></i></a>
                {% endif %}
                <p class="d-flex flex-column align-items-center">Count: {{ p.like_count() }}</p> 
        {% endfor %}

    {% endif %}
{% endblock %}

{% block title %}
Home Page
{% endblock %}