{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
    <a class="card mb-3 ms-3 p-0 no-underline" style="width: 18rem">
        <img src='{{ post["img_url"] }}' class="card-img-top" alt="..." />
        <div class="card-body p-0">
            <h4 class="card-title underline ps-3">{{ post.title }}</h4>
            <h5 class="card-text ps-3">{{ post.author.username.title() }}</h5>
            {% if post.caption %} 
            <h6 class="card-text ps-3">"{{post.caption}}"</h6>
            {% endif %}
            <div class="card-footer text-muted p-1">Posted {{ moment(post.date_created).fromNow() }}</div>
        </div>
    </a>
</div>
<!-- You can use bracket OR dot notation!! -->
{% if current_user.is_authenticated %} {% if current_user.id == post.user_id %} 

<a
    href='{{ url_for("ig.update_post_page", post_id=post.id) }}'
    class="btn btn-primary"
    >Update</a
>

<!-- Button trigger modal -->
<button
    type="button"
    class="btn btn-danger"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
>
    Delete
</button>

<!-- Modal -->
<div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Are you sure?
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">This will delete your Post</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Cancel
                </button>
                <a
                    href='{{ url_for("ig.delete_post", post_id=post.id) }}'
                    class="btn btn-danger"
                    >Complete Delete</a
                >
            </div>
        </div>
    </div>
</div>

{% endif %} {% endif %} 

    {% if current_user in post.likers2 %}
    <a href="{{ url_for('ig.unlike_post2', post_id=post.id)}}" class="d-flex flex-column align-items-center my-heart no-underline ps-3 pb-3" style><i class="fa-solid fa-heart"></i></a>
    {% else %}
    <a href="{{ url_for('ig.like_post2', post_id=post.id)}}" class="d-flex flex-column align-items-center my-heart no-underline ps-3 pb-3"><i class="fa-regular fa-heart"></i></a>
    {% endif %}
    <p class="d-flex flex-column align-items-center">Like Count: {{ post.like_count() }}</p> 
                
{% endblock %}
