{% extends 'base.html' %}

{% block content %}
<h1>Hello, world!</h1>
<h2>Testing the new line</h2>
<h3>yo</h3>

<!-- # allows access to a variable -->
{{peeps}} 
<!-- allows you to evaluate an expression -->
    {% for p in peeps %}
        {% if p == 'John' %}
        <div class="card text-center">
            <div class="card-header">
                <a href="#" class="btn btn-primary"><b>{{p}}</b></a>
            </div>
        </div>
            </div>
        </div>
        {% else %}
        <div class="card text-center">
            <div class="card-header">
                <a href="#" class="btn btn-primary">{{p}}</a>
            </div>
        </div>
        {% endif %}
        
    {% endfor %}

    {% for poke in pokemons %}
    <div class="card mb-3" style="width: 18rem;">
        <img src='{{ poke["image"] }}' class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{poke.name}}</p>
            <!-- You can use bracket OR dot notation!! -->
        </div>
        </div>
    {% endfor %}

{% endblock %}

{% block title %}
Home Page
{% endblock %}